@import 'src/assets/css/base.scss';

::-webkit-scrollbar{
  width: .08rem;
  height: .08rem;
}

::-webkit-scrollbar-thumb {
  border-radius: .04rem;
  background: #ccc;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Microsoft YaHei";
  font-size: 0.14rem;
}

#root{
  width: 100vw;
  height:100vh;
  overflow: hidden;
}

/*辖区面板数字字体*/
@font-face {
  font-family: ResourceNormal;
  src: url(../../assets/iconfont/ResourceNormal.ttf);
}

.font-resource-normal{
  font-family: ResourceNormal;
}