@import '../../../assets/css/base.scss';

.alarm_detail_imm{
  height: 556px;
  display: flex;
  font-family: PingFang-SC-Regular;
  justify-content: center;
  background: #FFF;
  align-items: center;
  margin-top: 8px;
  .imm_content{
    position: relative;
    width: 976px;
    height: 556px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    .imm_content_box{
      width: 100%;
      height: 100%;
      display: none;
      transition: .5s;
      .lm-player{
        .top-contraller-bar{
          display: none;
        }
        .left-contraller{
          .play-type{
            i{
              &:first-child{
                display: none;
              }
            }
          }
        }
      }
    }
    .imm_content_box_active{
      display: block;
    }
    .imm_switch{
      position: absolute;
      display: flex;
      top: 20px;
      right: 74px;
      width: auto;
      height: 32px;
      border-radius: 3px;
      overflow: hidden;
      z-index: 5;
      background-image: linear-gradient(-180deg, #FFFFFF 0%, #F3F6F9 98%);
      .switch_box{
        width: 88px;
        text-align: center;
        line-height: 32px;
        font-size: 14px;
        font-family: PingFang-SC-Regular;
        cursor: pointer;
        transition: .5s;
        .anticon{
          font-size: 16px;
          margin-right: 4px;
          color: #8899BB;
        }
      }
      .switch_box_active{
        background: $all-active-orange;
        color: #FFFFFF;
       .anticon{
         color: #FFF;
       }
      }
      .switch_box_dis{
        background: #aaa;
        color: #FFFFFF;
        cursor: not-allowed;
        .anticon{
          font-size: 16px;
          margin-right: 4px;
          color: #FFF;
        }
      }
    }
  }
  .content_card{
    color: #666;
    min-width: 120px;
    // border: 1px solid #c1c1c1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
    background: #fff;
    width: 120px;
    position: relative;
    font-size: 12px;
    line-height: 24px;
    cursor: pointer;
    .card_img_box{
      width: 100%;
      .content_img{
        max-width: 102px !important;
        max-height: 120px !important;
        display: block;
        margin: 0 auto 4px auto;
      }
    }
    .card_value{
      margin-bottom: 0;
    }
  }
}