@import '../../../assets/css/base.scss';

.list_card{
  position: relative;
  width: 146px;
  height: 278px;
  border: 1px solid #ccc;
  margin-right: 8px;
  border-radius: 4px;
  padding: 8px;
  overflow: hidden;
  cursor: pointer;
  background: #fff;
  user-select: none;
  &:last-child {
    margin-right: 0;
  }
  .card_checkbox{
    z-index: 10;
    position: absolute;
    top: 11px;
    right: 11px;
    &.card_checkbox_null{
      display: none;
    }
  }
      .ant-checkbox-checked{
    .ant-checkbox-inner{
    background-color: $all-active-orange;
    border-color: $all-active-orange;
    }
    }
  .lis_card_img_box{
    display: block;
    width: 130px;
    height: 160px;
    border-radius: 3px;
    overflow: hidden;
    .list_card_img{
      display: block;
      width: auto;
      height: 160px;
      border-radius: 3px;
    }
  }

  .card_header{
    display: flex;
    align-items: center;
    .ant-progress{
      height: 16px;
      margin-bottom: 8px;
      margin-right: 6px;
      .ant-progress-circle-path{
        stroke: $c-main-orange;
      }
    }
    .header_p{
      font-family: PingFang-SC-Regular;
      font-size: 12px;
      color: #333333;
      text-align: right;
      margin-bottom: 0;
      >span{
        color:  $c-main-orange;
      }
    }
  }
  .card_content{
    padding-top: 4px;
    .card_text{
      display: flex;
      margin-bottom: 6px;
      .content_p{
        flex: 1;
        font-size: 12px;
        color: #333333; 
        margin-bottom: 2px;
        @include ellip();
      }
      .content_i{
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-top: 2px;
        margin-right: 4px;
      }
      .anticon{
        font-size: 16px;
        color: #8899BB;
        margin-top: 2px;
        margin-right: 4px;
      }
      .content_cir{
        display: inline-block;
        width: 12px;
        height: 12px;
        margin: 4px;
        border-radius: 50%;
      }
      .red{
        background: red;
      }
      .gray{
        background: #ccc;
      }
      .green{
        background: green;
      }
    }
  }
  .card_rotate{
    position: absolute;
    width: 140px;
    height: 100px;
    bottom: -20px;
    right: -40px;
    transform: rotate(-30deg);
  }
  .rotate_1{
    background: url('../../../assets/img/monitees/alarmHistory/Big_Yes.svg');
  }
  .rotate_2{
    background: url('../../../assets/img/monitees/alarmHistory/Big_No.svg');
  }
}
.active_card{
  border-color: $all-active-orange;
}