.has-not-data-box{
  //position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -90%);
  margin: 240px auto 0;
  width: 150px;
  text-align: center;
  img{
    width: 150px;
    height: 180px;
  }
} 