@import '../../../assets/theme/themeModule/VideoSurveillance.scss';

.video-surveillance {
  width: 100%;
  height: 100%;
  display: flex;
  .slide-layout-left-tree {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .left-tree {
    transition: all 0.3s;
    width: 0;
    height: 100%;
    background: #2b3247;
    position: relative;
    z-index: 2;
    &.left-tree-slide {
      width: 300px;
    }
    .slider-btn {
      position: absolute;
      height: 60px;
      width: 16px;
      top: 50%;
      right: -16px;
      background: url('../../../assets/img/base/Path.svg') no-repeat left center;
      background-size: 10px;
      cursor: pointer;
      color: #fff;
      line-height: 60px;
      text-align: center;
      .anticon {
        position: relative;
        left: -4px;
        font-size: 16px;
      }
    }
  }
  .right-content {
    position: relative;
    flex: 1;
    .list-mode-video {
      width: 100%;
      height: 100%;
      padding: 0 16px 16px 16px;
      background: #f3f6f9;
      .tools-top-layout {
        height: 84px;
        position: relative;
        // z-index: 3;
        z-index: 100;
      }
    }
  }
  .change-mode-btn {
    position: absolute;
    right: 16px;
    top: 20px;
    height: 40px;
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.3);
    z-index: 101;
    .anticon {
      font-size: 16px;
      position: relative;
      top: 2px;
    }
  }
}

.group-modal-layout {
  .ant-modal-body {
    padding-top: 0;
    padding-bottom: 0;
  }
  .video-lx {
    display: none !important;
  }
  .modal-group-form {
    padding: 10px 0;
    font-size: 12px;
    .group-name {
      padding-bottom: 5px;
    }
  }
  .select-label {
    font-size: 12px;
    padding-bottom: 5px;
  }
}
