.player-mutipart-layout {
  width: 100%;
  height: calc(100% - 84px);
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  .player-item-layer {
    float: left;
    padding: 1px;
    .player-item {
      border: 1px solid #333;
    }

    &.player-item-layer-active {
      .player-item {
        border: 1px solid red;
      }
    }
    .drag-marker-video {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 3;
      background: rgba(0, 0, 0, 0.1);
      left: 0;
      top: 0;
    }
  }
}
