.community_suspension{
  display: flex;
  background: rgba(255,255,255,1);
  box-shadow: 0 4px 20px 0 rgba(0,0,0,0.20);
  border-radius: 4px;
  overflow: hidden;
  .suspension_box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 62px;
    width: 150px;
    transition: all .5s;
    border-right: 1px solid #eaedf1;
    // box-shadow: 1px 0 1px rgba(0,0,0,0.20);
    .anticon{
      font-size: 32px;
      color: #8899BB;
      margin-right: 4px;
    }
    .box_type{
      padding-top: 2px;
      .box_type_p{
        font-family: PingFang-SC-Regular;
        font-size: 12px;
        color: #333333;
        margin-bottom: 0;
      }
      .box_type_span{
        // font-family: DINEngschriftStd;
        font-size: 24px;
        color: #FF8800;
      }
    }
  }
}
@media screen and (max-width: 1366px) {
  .community_suspension{
    .suspension_box{
      width: 130px;
    }
  }
}