@import '../../../../assets/css/base.scss';
    
.changeUserView{
  width: 100%;
  height: 100%;
  overflow: auto;
  .changeUserLayer{
    margin: 0 auto;
    font-family: PingFang-SC-Regular;
    .titleLayer{
      .noTreeTitle{
        padding-left:calc(50% - 430px)
      }
    }
    .userForm{
      width:900px;
      height:calc(100% - 48px);
      margin:auto;
      margin-bottom: 80px;
      .ant-form-item-label{
        overflow: inherit;
        .ant-form-item-required{
          margin-left:-11px;
        }
      }
      .ant-col-24{
        margin-top:5px;
        display: flex;
        justify-content: space-between;
      }
      .ant-input-number{
        width:100%
      }
      .user-roleName{
        width:72%
      }
      .ant-calendar-picker{
        width:100%
      }
      padding: 12px 20px 0;
      h2{
        font-size: 16px;
      }
      .ant-btn{
        color:#ff8800;
        border-color:#ff8800;
      }
      .formUpload .ant-upload.ant-upload-drag{
        width:88px;
        height:88px;
        padding:0px;
       img {
          width: 88px;
          height: 88px;
      }
        .ant-upload-btn{
          padding:0px;
        }
      }
      .ant-form-item {
        margin-bottom: -10px;
        width:calc(50% - 16px);
      } 
      .identifyInfo{
        margin-top:20px;
      }
      .ant-form-item-children {
        display: flex;
        justify-content: space-between;
      }
      .user-reset-psw {
        margin-left: 100px;
        margin-top: 10px;
      }
      .map-setting{
        margin-top:20px;
        margin-bottom: 40px;
        .map-info{
          margin-bottom:10px;
        }
        .mapShow{
          width:830px;
          height:540px;
          display:flex;
          justify-content: center;
          margin:auto;
          margin-top:10px;
        }
        .user-map-int{
          position: absolute;
          z-index:100;
          width:248px;
          height:28px;
        }
      }
    }
    .systemLogoBoxStyle{
      width:79%;
      .ant-select-dropdown.ant-select-dropdown--single{
        display: none !important;
      }
      li.ant-select-dropdown-menu-item,.ant-select-selection-selected-value{
        img{
          width: 30px;
          max-height: 30px;
          display: block;
          float: left;
        }
        span{
          float: left;
          margin-left: 15px;
          display: block;
          @include ellip();
          width: 170px;
        }
      }
      .ant-select-selection.ant-select-selection--single{
        // height: 50px;
        .ant-select-selection__rendered{
          height: 100%;
        }
        .ant-select-selection-selected-value{
        position: relative;
        height: 32px;
        line-height: 32px;
        img{
          position: absolute;
          width: 45px;
          max-height: 45px;
          top: 46%;
          left: 0px;
          transform: translateY(-50%);
          }
          span{
            margin-left: 55px;
            font-size: 15px;
            &.systemName_res{
              margin-left: 0px;
            }
          }
        }
      }
      .syste_logo_res_item{
        width: 100%;
        // width:241px;
        max-height: 260px;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        background: #fff;
        position: absolute;
        z-index: 100000;
        overflow-y: auto;
        line-height: 30px;
        cursor: pointer;
        .item{
          padding: 3px 10px 3px 0px;
          height: 36px;
          position: relative;
          &:hover{
            background-color: #e6f7ff;
          }
          .list_info{
            margin-right: 30px;
            margin-left: 12px;
            img{
              width: 30px;
              display: block;
              position: absolute;
              top: 50%;
              left: 12px;
              transform: translateY(-50%);
              }
            .systemName_res{
              margin-left: 35px;
              width: 170px;
              display: block;
              @include ellip();
            }
          }
          >i{
            font-size: 16px;
            position: absolute;
            right: 10px;
            top: 10px;
          }
        }
        }
    }
    .userFormAction {
      position: fixed;
      width: 100%;
      bottom: 0;
      left: 0;
      background: #fff;
      padding-top: 20px;
      border-top: 1px solid #ddd;
      height: 80px;
      text-align: center;
      z-index: 5;
        .ant-btn{
          margin: 0 4px;
          &:hover,&:active, &:focus{
            color: $c-main-orange;
            border-color: $c-main-orange;
          }
        }
        .ant-btn-primary{
          background-color: $c-main-orange;
          border-color: $c-main-orange;
          &:hover,&:active, &:focus{
            color: #fff;
            border-color: $c-main-orange;
          }
        }
    }
  }
}