@import 'src/assets/css/base.scss';

.device-sollot-type {
  float: right;
  height:48px;
  position: relative;
  z-index: 2;
  button {
    margin-right: 20px;
  }
}
.device-sollot-wrapper {
  height:100%;
  @include setFlex(left, top);
  .tb {
    height: 100%;
    flex: 1;
    position: relative;
    .content {
      height: 100%;
      .search {
        height: 40px;
        h3 {
          font-size: 14px;
          font-weight: bold;
          line-height: 40px;
          margin: 0;
         
          a {
            color:#ff8800;
            float: right;
            font-size: 12px;
            font-weight: normal;
          }
        }
        .ant-form {
          transition: height 3s;
        }
        .ant-form-item {
          margin-bottom: 5px;
        }
        .search-group {
          padding-bottom: 10px;
          button {
            margin-right: 20px;
          }
        }
        .center-sb {
          text-align: right;
          margin-top: 4px;
          button {
            &:first-child {
              margin-right: 10px;
            }
          }
        }
      }
      .content-table {
        width: 100%;
        height: calc(100% - 40px);
        overflow: hidden;
        .device-sollot-table {
          height: 100%;
          width: 100%;
          .setting-table {
            height: calc(100% - 80px);
            overflow-y: auto;
            td {
              font-size: 12px;
            }
          }
        }
        .ant-pagination {
          padding-top: 20px;
          font-size: 12px;
        }
      }
    }
  }
  .group {
    height: 100%;
    width: 80px;
    .ant-spin-container {
      height: calc(100% - 80px);
      margin-bottom:40px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    button {
      padding:0 10px;
      font-size: 20px;
      margin-bottom: 20px;
      font-size: 12px;
    }
  }
}
.search-form-left-popup-layout,.search-form-right-popup-layout{
  .ant-popover-inner-content{
    padding:12px 16px;
  }
  .ant-popover{
    z-index: 10;
  }
  .ant-popover-content{
    width: 300px;
  }
  .ant-form-item{
    display: block;
    margin:0;
  }
  .ant-form-item-label{
    width: 70px;
  }
  .ant-form-item-control-wrapper{
    width: calc(100% - 70px);
    padding-left:0;
  }
  .button-group-search{
    padding-top:10px;
    text-align: center;
    button{
      padding:0 30px;
      margin-right:10px;
      display: block;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }
}
