.resource-search {
  width: 100%;
  height: calc(100% - 72px);
  .tab-layout {
    padding: 0 16px 16px;
    display: flex;
    height: 44px;
    overflow: hidden;
    .tab-item {
      flex: 1;
      text-align: center;
      color: #8899bb;
      background: #1d2336;
      height: 28px;
      line-height: 27px;
      font-size: 12px;
      cursor: pointer;
      transition: all 0.3s;
      &:first-child {
        border-radius: 3px 0 0 3px;
      }
      &:last-child {
        border-radius: 0 3px 3px 0;
      }
      &.tab-item-active {
        background: #37415f;
        color: #fff;
      }
    }
  }
  .resource-part {
    height: calc(100% - 44px);
    &.hide-resource {
      display: none;
    }
  }
  .collection-part {
    height: calc(100% - 44px);
    overflow: auto;
    user-select: none;
    &::-webkit-scrollbar-thumb {
      background: #37415f;
    }
    &.hide-collection {
      display: none;
    }
    .ant-collapse {
      border-radius: 0;
      background: #2b3247;
    }
    .ant-collapse-item {
      margin-bottom: 1px;
      border-bottom: none;
      &.loopGroup-item {
        .ant-collapse-header {
          background: #ff8800;
          color: #fff;
        }
      }
    }
    .collection-list-layout {
      background: transparent;
    }

   
    .collection-list-layout .ant-collapse-header {
      background: #37415f;
      color: rgba(255, 255, 255, 0.8);
      height: 28px;
      line-height: 26px;
      padding: 0 16px !important;
      font-size: 14px;
      position: relative;
      .device-count {
        float: right;
        font-size: 12px;
        .count {
          color: #7584a3;
        }
        i {
          font-style: normal;
        }
      }
      .anticon {
        left: 0;
        font-size: 14px;
        position: relative;
        top: 1px;
        padding-right: 2px;
      }
    }
    .group-name-layout {
      .group-tools {
        float: right;
        .anticon {
          padding-left: 5px;
          font-size: 16px;
          position: relative;
        }
      }
    }
    .ant-collapse-content-box {
      padding: 0 !important;
    }
    .device-list-content {
      min-height: 300px;
      .device-item {
        cursor: pointer;
        padding: 1px 16px 0 16px;
        height: 25px;
        & > .device-item-layout {
          width: 100%;
          height: 100%;
          line-height: 24px;
          color: rgba(255, 255, 255, 0.8);
          font-size: 12px;
          transition: all 0.3s;
          display: flex;
          align-items: center;
          padding-left: 5px;
          border-radius: 2px;
        }
        &:hover,
        &.active,
        &.group-select-item {
          & > .device-item-layout {
            background: #404659;
          }
        }
        .anticon {
          padding-right: 10px;
        }
        .device-online {
          font-size: 16px;
          color: #50e9b2;
        }
        .device-offline {
          font-size: 16px;
          color: #a7aebc;
        }
        &:hover {
          .device-item-tools {
            display: inline-block;
          }
        }
        .device-name {
          width: calc(100% - 26px - 26px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: inline-block;
        }
        .device-item-tools {
          display: none;
          float: right;
          .anticon {
            padding-right: 0;
            padding-left: 5px;
            font-size: 16px;
            position: relative;
            top: 2px;
          }
        }
      }
      .ReactVirtualized__List {
        &::-webkit-scrollbar-thumb {
          background: #37415f;
        }
      }
    }
  }
  .form-search {
    height: 90px;
    overflow: hidden;
    padding: 0 16px 16px;
    font-size: 12px;
    .ant-input {
      font-size: 12px;
    }
    .search-type {
      display: flex;
      padding-top: 10px;

      .ant-select {
        font-size: 12px;
        flex: 1;
        &:first-child {
          margin-right: 1px;
        }
        &:last-child {
          margin-left: 1px;
        }
        &.empty-select {
          color: #bfbfbf;
        }
      }
    }
    .ant-select-selection__clear-icon {
      color: #999;
    }
  }

  .org-tree-with-device {
    height: calc(100% - 90px);
  }
}
