@import '../../../../assets/css/base.scss';

.community_residence_header{
    width: 100%;
    padding: 20px 0 0 0 ;
    .header_title{
      font-family: PingFang-SC-Bold;
      font-size: 14px;
      color: $c-main-orange;
      margin-bottom: 4px;
    }
  .header_content{
    display: flex;
    width: 100%;
    height: 288px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .header_left{
    position: relative;
    width: 208px;
    height: 256px;
    overflow: hidden;
    border-radius: 3px;
    margin: 3px 20px 3px 4px;
    .watermask{
      position: absolute;
      top: 80px;
      left: 40px;
      display: block;
      color: rgba(255,255,255,0.2);
      text-shadow: 1px 1px rgba(0,0,0,0.3);
      font-size: 8px;
      transform: rotate(45deg);
      z-index: 1;
    }
    .left_img{
      display: block;
      width: auto;
      height: 100%;
      margin: 0 auto;
      border-radius: 3px;
    }
  }
  .header_right{
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex: 1;
    .right_message{
      padding-left: 10px;
      width: 460px;
      .message_name{
        font-family: PingFang-SC-Bold;
        font-size: 14px;
        height: 25px;
        color: $c-main-orange;
        border-bottom: 1px solid #ccc;
        padding-bottom: 3px;
      }
      .message_content{
        display: flex;
        flex-wrap: wrap;
        padding: 4px 0 4px 0;
        border-bottom: 1px solid #ccc;
        .text_box{
          display: flex;
          width: 50%;
          padding-right: 12px;
          font-size: 12px;
          font-family: PingFang-SC-Regular;
          margin-bottom: 4px;
          .content_text{
            color: #333333;
            margin-bottom: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .text_value{
            width: 60px;
            flex-shrink: 0;
            color: #666666;
          }
        }
        .content_adress{
          .text_value{
            width: 36px;
          }
        }
        .content_nation{
          width: 25%;
          .text_value{
            width: 36px;
          }
        }
      }
      .message_content_lately{
        padding: 8px 0 4px 0;
        border-bottom: 1px solid #ccc;
        .text_box{
          display: flex;
          width: 100%;
          font-size: 12px;
          font-family: PingFang-SC-Regular;
          margin-bottom: 4px;
          .content_text{
            color: #333333;
            margin-bottom: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .text_value{
            color: #666666;
            width: 100px;
            flex-shrink: 0;
          }
        }
      }
      .message_content_label{
        display: flex;
        align-items: center;
        height: 92px;
        padding: 8px 0;
        .label_title{
          width: 42px;
          margin-bottom: 0;
        }
        .label_value_box{
          display: flex;
          width: 100%;
          flex-wrap: wrap;
          align-items: center;
          align-content: space-around;
          overflow: auto;
          flex: 1;
          .label_value{
            display: inline-block;
            height: 24px;
            padding: 0 12px;
            margin: 0 8px 0 0;
            border-radius: 12px;
            border: 1px solid #ccc;
          }
          .label_add{
            display: inline-block;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            line-height: 26px;
            text-align: center;
            border: 1px solid #8899BB;
            cursor: pointer;
            &:hover{
              border-color: $all-active-orange;
              .anticon{
                color: $all-active-orange;
              }
            }
            .anticon{
              font-size: 20px;
              color: #8899BB;
            }
          }
        }
      }
    }
    .right_chart{
      width: calc(100% - 500px);
      height: 100%;
      .chart_title{
        font-family: PingFang-SC-Bold;
        width: 310px;
        font-size: 14px;
        color: $c-main-orange;
        padding-bottom: 3px;
        border-bottom: 1px solid #ccc;
      }
    }
  }
}