@import '../../../../assets/css/base.scss';

.residence_box{
  position: relative;
  width: 100%;
  height: auto;
  border-left: 2px solid #ccc;
  .header_i{
    position: absolute;
    top: 0px;
    left: -6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $c-main-orange;
  }
  .box_info{
    padding: 0 8px;
    transform: translateY(-6px);
    .box_header{
      // margin-top: -4px;
      .header_title{
        font-family: PingFang-SC-Regular;
        font-size: 12px;
        color: #333333;
      }
    }
    .box_content{
      display: flex;
      flex-wrap: wrap;
      height: calc(100% - 21px);
      overflow: auto;
      .box_img_box{
        width: 112px;
        height: 136px;
        padding: 4px;
        border-radius: 3px;
        overflow: hidden;
        border: 1px solid transparent;
        &:hover{
          border: 1px solid $all-active-orange;
          .box_message{
            transform: translateY(-84px);
          }
        }
        .box_item{
          width: 100%;
          height: 100%;
          border-radius: 3px;
          overflow: hidden;
          .box_img{
            display: block;
            margin: 0 auto;
            width: auto;
            height: 100%;
            border-radius: 3px;
          }
        }
        .box_message{
          width: 100%;
          height: 84px;
          padding: 6px;
          background: rgba(255,255,255,0.80);
          transition: .5s;
          .message_name{
            font-family: PingFang-SC-Regular;
            font-size: 12px;
            color: #333333;
            margin-bottom: 4px;
            height: 32px;
            overflow: hidden;
            line-height: 16px;
          }
          .meaage_time{
            color: #666666;
            margin-bottom: 0px;
            line-height: 16px;
          }
        }
      }
    }
  }
}