@import '../../../../assets/css/base.scss';
.residence_trajectory{
  width: 100%;
  height: 664px;
  .trajectory_header{
    display: flex;
    // height: 48px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-bottom: 4px;
    .header_title{
      font-family: PingFang-SC-Bold;
      font-size: 14px;
      color: #FF8800;
      margin-bottom: 0;
    }
  }
  .trajectory_map{
    width: 100%;
    height: 616px;
    border-radius: 4px;
    // margin-top: 4px;
    background: #fff;
    border: 1px solid #ccc;
  }
}