@import 'src/assets/css/base';

.c-module-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  .ant-spin-nested-loading{
    flex: 1;
    overflow: auto;
    .ant-spin-container {
      height: 100%;
    }
  }
  .module-header-warpper {
    height: 48px;
    width: 100%;
    display: flex;
    .module-title {
      width: 280px;
      line-height: 48px;
      font-weight: bold;
      padding-left: 16px;
      font-size: 18px;
      color: #333333;
      background: #D8DCE3;
      border-bottom: 1px solid #B5BBC7;
    }
    .module-header {
      padding: 0 24px;
      flex: 1;
      background: #F3F6F9;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
      color: #333333;
      border-bottom: 1px solid #D8DCE3;
      .search-input-wrapper {
        position: relative;
        width: 280px;
        height: 32px;
        .search-btn-data-repository{
          background-image: linear-gradient(-180deg, #FFAA00 0%, #FF8800 100%);
          border-radius: 3px;
          color: #fff;
          width: 118px;
          height: 32px;
          border: none;
          &:hover{
            background-image: linear-gradient(-180deg, #FF8800 0%, #FF6600 100%);
          }
          i{
            font-size: 16px;
          }
          span{
            margin-left: 4px;
          }
        }
        .img-upload { 
          position: absolute;
          top: 0;
          width: 38px;
          height: 32px;
          .anticon {
            // padding: 9px 12px;
            // font-size: 32px;
            // cursor: pointer;
            // color: #8899bb;
            // &:hover {
            //   color: #FF8800;
            // }
          }
        }
      }
      .pagination-wrapper, .title-right {
        &>span {
          margin-left: 8px; 
        }
        .highlight {
          margin-left: 0;
        }
        .page-size-select {
          width: 80px;
          height: 32px;
        }
      }
    }
  }
  .module-content-wrapper {
    width: 100%;
    height: calc(100% - 48px);
    display: flex;
  }
  // 自定义分页
  .pagination-btn-container {
    .ant-btn:not(:disabled) {
      height: 32px;
      border: 1px solid $c-main;
      color: $c-main;
      &:hover {
        color: $c-fff;
        background: $all-active-orange;
      }
    }
    .anticon {
      font-size: $fs-16;
    }
    .page-btn {
      width: 36px;
      padding: 0;
    }
  }
}