@import 'src/assets/css/base.scss';
.upload-input-view-people{
    width: 300px;
    height: 48px;
    line-height: 2;
    margin-right: 20px;
    .upload-input-box{
        width: 100%;
        height: 100%;
        position: relative;
        width: 300px;
        height: 56px;
        margin-left: 16px;
        margin-top: -4px;
        padding-top: 10px;
        position: absolute;
        .delete-pic-input{
            position:absolute;
            top:15px;
            right:50px;
            cursor: pointer;
            &:hover {
                color:#ff8800;
            }
        }
        .upload-input{
            width: 300px;
            height:36px;
            font-size: 14px;
            padding-left: 32px;
        }
        .img-view-another{
            position: absolute;
           // width: 80px;
           width:32px;
           height:32px;
            //height: 34px;
            top: 10px;
           // left: 9px;
           left:6px;
           // border: 1px solid #E1E5EB;
            padding:3px  ;
            overflow: hidden;
            .img-box {
                float: left;
                width: 26px;
                height: 26px;
                cursor: pointer;
                position: relative;
                &:hover .edit-view {
                    display: block;
                }
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 3px;
                }
                .edit-view{
                    display: none;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background:rgba(0,0,0,0.3);
                    top: 0;
                    left: 0;
                    text-align: center;
                    .anticon-edit{
                        color:#fff;
                        font-size: 24px;
                        line-height: 34px;

                    }
                }
            }
            .delete-btn{
                float: left;
                line-height: 30px;
                margin-left: 10px;
                cursor: pointer;
                .anticon-close{
                    font-size: 10px
                }
            }
        }
        .capture-view-box {
            position: absolute;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.10);
            border-radius: 4px;
            width: 550px;
            height: 478px;
            background: #fff;
            z-index: 10;
            top: 64px;
            text-align: center;
            .close-view{
                width: 36px;
                height: 36px;
                position: absolute;
                right: 20px;
                top: 20px;
                .anticon-close-circle-o{
                    font-size: 30px;
                    cursor: pointer;
                }
            }
            p{
                width: 100%;
                text-align: center;
                font-size: 14px;
                color: #333333;
                line-height: 20px;
                margin-top:30px;
            }
            .capview{
                margin-top: 22px;
                width: 300px;
                height: 300px;
                margin-bottom: 28px;
                margin-left: 124px;
            }

        }
        .camera-btn{
            position: absolute;
            width: 18px;
            height: 16px;
            top: 13px;
            left: 5px;
            cursor: pointer;
           .ant-input{
               padding:0;
           }
            label{
                cursor: pointer;
            }
            img{
                width: 24px;
                height: 24px;
            }
        }
        .search-btn{
            position: absolute;
            width: 40px;
            height: 36px;
            padding-left: 20px;
            top: 10px;
            right: 0;
            line-height: 34px;
            background-image: linear-gradient(-180deg, #FFAA00 0%, #FF8800 100%);
            border-radius: 0 3px 3px 0;
            cursor: pointer;
            img{
                width: 24px;
                height: 24px;
                margin-left: -12px;
            }
        }
    }
}
