@import 'src/assets/css/base.scss';
.about_system{
  .about_system_box{
    &:first-child{
      padding-bottom: 4px;
    }
    .anticon{
      color: #8899bb;
      font-size: 16px;
      margin-right: 4px;
      vertical-align: -4px;
    }
    .box_text{
      display: inline-block;
      font-family: PingFang-SC-Regular;
      font-size: 12px;
      color: #333333;
    }
  }
}