.left-menu {
  position: absolute;
  left: 0;
  top: 45px;
  z-index: 99;
  height: calc(100% - 45px);
  user-select: none;
  width: 180px !important;
  min-width: 180px !important;
  max-width: 180px !important;
  overflow: hidden;
  &.left-menu-collapsed {
    width: 48px !important;
    min-width: 48px !important;
    max-width: 48px !important;
    .ant-menu-inline-collapsed {
      width: 48px;
    }
  }
  .menu-content-layout {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    &::-webkit-scrollbar-thumb {
      background: #0e1429;
    }
  }
  .scroller-layout-menu {
    height: 100%;
  }
  .ant-menu-dark .ant-menu-sub {
    background: #0d1120;
    box-shadow: none;
  }
  .ant-layout-sider-children {
    width: 180px;
    .ant-menu {
      & > .ant-menu-item {
        padding: 0 !important;
        height: 40px;
        margin: 0;
        &:first-child {
          margin-top: 0;
        }
        & > .menu-item-content {
          font-size: 14px;
          display: flex;
          align-items: center;
          height: 40px;
          padding: 4px;
          & > .menu-item-layout {
            width: 100%;
            height: 32px;
            display: flex;
            align-items: center;
            border-radius: 4px;
            transition: all 0.3s;
            padding-left: 8px;
          }
        }

        &.ant-menu-item-selected > .menu-item-content > .menu-item-layout {
          background-image: linear-gradient(-180deg, #ffaa00 0%, #ff8800 100%);
        }
      }
      & > .ant-menu-submenu {
        padding: 0 !important;
        margin: 0;
        .ant-menu-submenu-title {
          margin-top: 0;
          margin-bottom: 0;
          height: 40px;
          padding: 0 !important;
          .ant-menu-submenu-arrow {
            &:after,
            &:before {
              background: #fff !important;
            }
          }
          & > .menu-item-content {
            font-size: 14px;
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            border-radius: 4px;
            padding: 4px;
            & > .menu-item-layout {
              width: 100%;
              height: 32px;
              display: flex;
              align-items: center;
              border-radius: 4px;
              transition: all 0.3s;
              padding-left: 8px;
            }
          }
        }
        &.ant-menu-submenu-selected
          > .ant-menu-submenu-title
          > .menu-item-content
          > .menu-item-layout {
          background: linear-gradient(-180deg, #ffaa00 0%, #ff8800 100%);
        }
        & > .ant-menu-sub > .ant-menu-item {
          &.ant-menu-item-selected > .menu-item-content > .menu-item-layout {
            background: transparent;
            color: #ffaa00;
          }
          .menu-item-content > .menu-item-layout {
            font-size: 12px;
            padding-left:40px;
          }
        }
      }
    }
  }
  .ant-layout-sider-trigger {
    display: none;
  }
}
