.setting-device-search {
  float: right;
  .ant-form-item {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 4px;
    &:first-child {
      .ant-form-item-control-wrapper {
        max-width: 160px;
        width: 160px;
      }
    }
    .ant-form-item-control-wrapper {
      display: inline-block;
      max-width: 120px;
      .ant-form-item-children-icon {
        display: none;
      }
    }
  }
  .search-group {
    display: inline-block;
    margin-top: 8px;
    button {
      margin-left: 10px;
    }
  }
}

.device-table-content {
  height: calc(100% - 48px);
  width: 972px;
  margin: 0 auto;
  .serach-form {
    height: 206px;
    padding: 16px 0;
  }
  .ant-form-item {
    width: calc(25% - 16px);
    padding-bottom: 8px;
  }
  .ant-form-item-label {
    text-align: left;
    line-height: 14px;
    padding-bottom: 8px;
  }
  .ant-form-item-control-wrapper {
    display: block;
    width: 100%;
    padding-left: 0;
  }
  .form-btn-group {
    height: 32px;
    text-align: center;
    button {
      margin: 0 10px;
      width: 90px;
      height: 32px;
    }
  }
  .action-group {
    height: 40px;
    text-align: right;
  }
  .device-container {
    height: calc(100% - 206px - 40px);

    .setting-table {
      height: calc(100% - 80px);
    }
    .ant-table-wrapper,
    .ant-spin-nested-loading,
    .ant-spin-container,
    .ant-tabl,
    .ant-table-default,
    .ant-table-content,
    .ant-table-scroll {
      height: 100%;
    }
    .ant-table-scroll {
      overflow: hidden;
    }
    .ant-table-header {
      overflow: hidden !important;
      background: #d8dce3;
      height: 37px;
      margin: 0 !important;
      padding-right: 8px;
      .ant-table-thead {
        height: 37px;
        overflow: hidden;
        tr {
          th {
            background: #d8dce3;
            font-weight: bold;
            padding: 0 16px;
            height: 37px;
          }
        }
      }
    }
    .ant-table-selection-column {
      width: 24px;
      min-width: 24px;
      padding: 10px 0 10px 10px !important;
    }
    .ant-table-body {
      max-height: calc(100% - 37px) !important;
      overflow: auto;
    }
  }

  .device-table-name {
    .anticon {
      font-size: 16px;
      position: relative;
      top: 2px;
      padding-right: 4px;
    }
  }

  .ant-pagination {
    padding-top: 20px;
    height: 80px;
  }
}
