.logger-platform-view{
  height: 100%;
  width: 100%;
  margin: 0 auto;
  .logger-container{
    height:calc(100% - 48px);
    width:1150px;
    margin: auto;
    display:flex;
    flex-direction: column;
    .platform-content{
      flex:1;
      overflow-y: auto;
      .logger-soldier-container{
        height:100%;
        .logger-table {
          .setting-table{
            height:calc(100% - 80px);
            .log-column-index{
              text-align: center;
            }
            // .log-description{

            // }
          }
        }
        .ant-pagination{
          height:80px;
          padding-top:20px;
        }
      }
    }
    .logger-search-form{
      width:1150px;
      margin-top: 25px;
      margin-bottom: 32px;
      .setting-title {
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .log-search{
        text-align: center;
        margin-top: 16px;
        button {
          margin-left: 10px;
        }
      }
      .ant-form-item.rangeTime{
        width:calc(50% - 16px);
        .range-picker-wrapper {
          display:flex;
          .date-picker-wrapper{
            flex:1;
            margin-left: 0;
            .ant-calendar-picker{
              width:100%!important;
            }
          }
          .date-picker-divider{
            margin-left: 0;
            width: 4%;
            text-align: center;
          }
        }
      }
      .ant-form-item.log-describe{
        width:calc(50% - 16px)
      }
      .ant-form-item {
        width: calc(25% - 16px);
        padding-bottom: 0px;
        display: inline-block;
        margin-right:16px;
        margin-bottom:8px;
      }
      .ant-form-item-label {
        text-align: left;
        // padding-left:10px
      }
      .ant-form-item-control-wrapper {
        display: block;
        width: 100%;
        padding-left: 10;
      }
    } 
  }
}