.Village-wrapper {
  .village-container {
    height: calc(100% - 80px);
  }
}

.assign-village-modal{
  .assign-village{
    padding:0 40px 20px;
  }
  .promission_management {
    width: 100%;
    height: 480px;
    min-height: auto;
    max-height: none;
    .orgTree{
      padding-top:10px;
    }
  }
}
