.tree-view-component {
  color: rgba(255, 255, 255, 0.8);
  li span.ant-tree-node-content-wrapper {
    color: #333;
    font-size: 12px;
    width: calc(100% - 24px - 16px);
    position: relative;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .anticon {
      font-size: 16px;
      position: relative;
      top: 2px;
    }
    .ant-tree-title {
      padding-left: 5px;
    }
    &:hover {
      background: rgba(55, 65, 95, 0.4);
      color: #fff;
      .device-count {
        .video-lx {
          display: initial;
          opacity: 1;
        }
      }
    }
    &.ant-tree-node-selected {
      background: #37415f;
      color: #fff;
    }
    .device-count {
      position: absolute;
      right: 10px;
      .count {
        color: #7584a3;
      }
      i {
        font-style: normal;
      }
    }
  }
  li {
    ul.ant-tree-child-tree {
      padding-top: 7px;
    }
  }
  .ant-tree-treenode-selected {
    & > .ant-tree-node-content-wrapper {
      background: #37415f;
      color: #fff;
    }
  }
  .ant-tree-iconEle {
    width: 24px;
    .anticon {
      font-size: 12px;
      color: #8899bb;
    }
  }
  .ant-tree-switcher {
    position: relative;
    top: -1px;
    left: 8px;
    z-index: 2;
    margin-right: 5px;
    color: #8899bb;
  }
  .ant-tree-treenode-switcher-open,
  .ant-tree-treenode-switcher-close {
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
}
